In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('./datasets/CountryData_Week6.csv')
display(data.head)

<bound method NDFrame.head of                                 country             Region  \
0                           Afghanistan       SouthernAsia
1                               Albania     SouthernEurope
2                               Algeria     NorthernAfrica
3                                Angola       MiddleAfrica
4                   Antigua and Barbuda          Caribbean
..                                  ...                ...
191  Venezuela (Bolivarian Republic of)       SouthAmerica
192                            Viet Nam  South-easternAsia
193                               Yemen        WesternAsia
194                              Zambia      EasternAfrica
195                            Zimbabwe      EasternAfrica

     Surface area (km2)  Population in thousands (2017)  \
0                652864                           35530
1                 28748                            2930
2               2381741                           41318
3               1246700                           29784
4                   442                             102
..                  ...                             ...
191              912050                           31977
192              330967                           95541
193              527968                           28250
194              752612                           17094
195              390757                           16530

     GDP per capita (current US$)  Agricultural production index   \
0                           623.2                             125
1                          3984.2                             134
2                          4154.1                             160
3                          4714.1                             175
4                         14764.5                              88
..                            ...                             ...
191                       11068.9                             118
192                        2067.9                             136
193                        1106.4                             136
194                        1311.1                             179
195                         890.4                              99

     International trade: Imports (million US$)
0                                          3568
1                                          4669
2                                         47091
3                                          8790
4                                           491
..                                          ...
191                                       16324
192                                      174111
193                                        6861
194                                        7442
195                                        5212

[196 rows x 7 columns]>

In [31]:
# Unique countries
data['country'].nunique()

196

In [25]:
# region based countries
rc = data.groupby(['Region']).agg({'country':'count'})
display(rc)

                   country
Region
Caribbean               16
CentralAmerica           8
CentralAsia              5
EasternAfrica           17
EasternAsia              7
EasternEurope           10
Melanesia                5
Micronesia               4
MiddleAfrica             9
NorthernAfrica           5
NorthernAmerica          4
NorthernEurope          10
Oceania                  2
Polynesia                5
South-easternAsia       11
SouthAmerica            12
SouthernAfrica           5
SouthernAsia             9
SouthernEurope          12
WesternAfrica           15
WesternAsia             18
WesternEurope            7

In [38]:
data['Region'].agg({'International trade: Imports (million US$)':'count'})

International trade: Imports (million US$)    196
Name: Region, dtype: int64