In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('./datasets/Advertising.csv')
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

This dataset contains amount spent on advertising via 3 different mediums vs sales

In [7]:
data.describe().T

            count      mean        std  min     25%     50%      75%    max
Unnamed: 0  200.0  100.5000  57.879185  1.0  50.750  100.50  150.250  200.0
TV          200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
Radio       200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
Newspaper   200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
Sales       200.0   14.0225   5.217457  1.6  10.375   12.90   17.400   27.0

From this table it is clear that mean for TV ads is higher than other 2<br>Sample size = 200

HO = Same amount was spent on every ads<br>
H1 = At least one ad is spending is different

In [12]:
from scipy.stats import f_oneway

In [16]:
statss , p = f_oneway(data['TV'],data['Radio'],data['Newspaper'])
print('Stats = ',statss)
print('P-Value = ',p)

Stats =  358.8514595342597
P-Value =  4.552931539744962e-103

In [19]:
if(p>0.05):
    print('Accept Null Hypothesis')
else:
    print('Reject Null Hypothesis')

Reject Null Hypothesis

So it is clear that same ammount is not spent for all 3 ads