In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('./datasets/Week_8_Q&A_dataset.csv')
data.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [6]:
data.describe().transpose()

             count       mean       std   min   25%   50%    75%   max
Total Marks   28.0  32.321429  12.45452  12.0  22.5  33.0  43.25  50.0

In [9]:
data['Gender'].value_counts()

female    16
male      12
Name: Gender, dtype: int64

### 2. Check whether female and male students scored the same marks.

In [10]:
import scipy.stats as stats